apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
spec:
  project: infrastructure
  sources:
    - repoURL: https://charts.jetstack.io
      chart: cert-manager
      targetRevision: v1.19.*
      helm:
        valueFiles:
          - $values/kubernetes/base/infrastructure/cert-manager/values.yaml
    - repoURL: https://github.com/Nosmoht/Talos-Homelab.git
      targetRevision: HEAD
      ref: values
    - repoURL: https://github.com/Nosmoht/Talos-Homelab.git
      targetRevision: HEAD
      path: kubernetes/overlays/homelab/infrastructure/cert-manager/resources
  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
